	body{
		background: url('../images/fond.jpg') fixed;
		background-size: cover;
	}
	.container{
		background-color: #F8F5DF;
		box-shadow: 0 0 10px;
		padding: 50px;
	}
	img.thumbnail {
		display: inline-block;
		box-shadow: -2px -2px 15px gray;
	}
	blockquote{
		font-style: italic;
		color: #8F8096;
	}
	.carousel-inner{
		height: 500px;
	}
	.carousel-inner .item img{
		height: 500px;
		margin: auto;
	}